body{
    position: relative;
    background-color: #dfe5e8;
}

.navbar{
    margin-bottom: 30px;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-header {
    float: left;
}

.exibeProdutos{
}

.tabelasBanco{
    padding-top: 110px;
}

.tableList{
    max-width:500px;
}

th{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px; 
    border-style: solid;
}

.topBody{
    position: relative;
}

.options{
   position: absolute;
   top: 64px;
}

.midBody{
    position: absolute;
    top:68px;
    width: 100%;
}

.btn-thin{
    padding: 2px;
}

.btn-insert{
    margin-bottom:7px;
}

.exibeProdutos{
    background-color: #cad4d9;
     
}

.tituloFilme{
    text-align: center;
    text-decoration: underline;
}

.pagB{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}